/*
Reset by http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 14px;
	font: inherit;
	vertical-align: baseline;
}
html { -webkit-font-smoothing: antialiased; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
	color:inherit;
}
textarea{
	resize: none;
}

.clear-both{
	clear:both;
}
.display-none{
	display: none;
}
.margin-top-05{
	margin-top: 0.5em;
}
.margin-top-1{
	margin-top: 1em;
}
.margin-top-15{
	margin-top: 1.5em;
}
.bold{
	font-weight: bold;
}
.float-left{
	float:left;
}
.float-right{
	float:right;
}

.cabecalho{
	background-color: #3CBC8D;
	width:100%;
	height:3em;
}

.logo1{
	width:33%;
	color: #fff;
	font-size: 2.8rem;
	line-height: 2.8rem;
	padding-left: 20px;
	float: left;
}

.menu-item{
	margin-left: 20px;
	line-height: 3em;
	float: left;
	color: #fff;
}

.container{
	padding: 20px;
}

.title{
	font-size: 36px;
	font-weight: 300;
	color: #333;

}
.texto{
	color: #555;
	line-height: 1.4;
}
.well-container{
	display: flex;
	flex-wrap: wrap;
}
.well-container .well{
	flex: 1;
	flex-basis: auto;
}
.well{
	padding: 20px 45px 20px 40px;
	background-color: #ecf0f1;
	min-height: 3em;
	max-width: 16em;
	line-height: 1.5;
	float: left;
	transition: 0.5s;
	margin-left:1em;
}
.well:hover{
	background-color:  #f4f6f6;
}

.form-wrap{
	width: 50%;
}

.form{
	font-size: 14px;
	font-family: inherit;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    outline: none;
	color: #bbb;
    -webkit-transition: 0.5s;
    transition: 0.5s;
	transition-property: background-color,border,color;
}
.form:focus{
    border: 3px solid #3CBC8D;
	background-color: #3CBC8D;
	color: #FFF;
}
.form:focus::-webkit-input-placeholder {
	color: #FFF;
}

.form-full{
	width: 100%;
}
.form-half{
	width: 49%;
}
